h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(43, 42, 42);
    text-align: center;
    text-transform: uppercase;
    padding-top: 130px;
}
body{
    background-image: url("pexels-ella-olsson-572949-1640777.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}
#one,#two,#three,#four{
    
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: large;
    padding-bottom: 20px;
    padding-top: 25px;  
}
a{
    color: green;
    text-decoration: none;
}
a:hover{
    color: rgb(133, 234, 82);
}

